.Details-parent {
    padding: 1rem;
    min-height: 60vh;
}
.Details-plot {
    background-color: grey;
    min-height: 15rem;
}

.Details-plotheader {
    padding: 16px;
}

.Details-plotcontent {
    padding: 16px;
}
.load-more{
    position: relative;
}
.load-icon::after{
    content: "\f101";
}