.Intro-parent {
    background-image: url('../images/header-bg.jpg'); 
    background-attachment: fixed;
    opacity: 0.8;
    background-color: #282c34;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    
  }

  .Intro-image {    
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    /* background-image: url('../images/header-bg.jpg'); 
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 10vh;
    align-items: center;
    justify-content: center;
    color: white;
    background-size: cover;
    background-repeat: no-repeat; */
  }